[mysqld]
slow_query_log
slow_query_log_file=/var/log/mysql/mysqlslow.log
long_query_time=5
log_queries_not_using_indexes

max_connections=10000  # <- connection の limit を更新

innodb_buffer_pool_size = 1GB # ディスクイメージをメモリ上にバッファさせる値をきめる設定値
innodb_flush_log_at_trx_commit = 2 # 1に設定するとトランザクション単位でログを出力するが 2 を指定すると1秒間に1回ログファイルに出力するようになる
innodb_flush_method = O_DIRECT # データファイル、ログファイルの読み書き方式を指定する(実験する価値はある)